@using Common.DTO;
@model List<UserDTO>

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>
<a class="btn btn-primary" asp-controller="Home" asp-action="CreateUser">Create New User</a>

<form method="post" asp-controller="Home" asp-action="DeleteRangeUser">
    <button type="submit" class="btn btn-danger mb-3">Delete Selected Users</button>

    <table class="table">
        <thead>
            <tr>
                <th>Select</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Date of Birth</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="selectedUserIds" value="@user.PublicId" />
                    </td>
                    <td>
                        <a asp-controller="Home" asp-action="userDetail" asp-route-userPublicId="@user.PublicId">
                            @user.Name
                        </a>
                    </td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.DateOfBirth.ToString("yyyy-MM-dd")</td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.Address</td>
                    <td>@user.Role</td>
                    <td>
                        <a asp-controller="Home" asp-action="UpdateUser" asp-route-PublicId="@user.PublicId"
                           class="btn btn-warning btn-sm">Update</a>
                        <a asp-controller="Home" asp-action="ResetPassword" asp-route-PublicId="@user.PublicId"
                           class="btn btn-info btn-sm">Reset Password</a>
                        <a asp-controller="Home" asp-action="DeleteUser" asp-route-PublicId="@user.PublicId"
                           class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>